.candidate-name {
  margin: auto;
}

.candidate-party {
  margin: auto;
}

.candidate-prop {
  margin: auto;
}

.candidate-prop-label {
  font-weight: bold;
}

.total-funding {
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  margin: auto;
}

.total-funding-tooltip {
  text-align: right;
  margin: auto;
}