.candidate-name {
  margin: auto;
}

.candidate-party {
  margin: auto;
}

.candidate-prop {
  margin: auto;
}

.candidate-prop-label {
  font-weight: bold;
}

.total-funding {
  margin: auto;
}

.total-funding-tooltip {
  margin: auto;
}